/* Styles for header and form */

h1 {
  text-align: center;
  text-transform: uppercase;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

input {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0rem;
}

.date-input {
  padding: 0.5rem 1.7rem;
}

.num-input::-webkit-outer-spin-button,
.num-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none;
}

.submit-btn {
  border: none;
  background-color: #b1c99c;
  color: black;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  margin-bottom: 3rem;
}

.submit-btn:hover {
  background-color: #648448;
  color: white;
}