/* Styles for buttons outside of form */

.all-categories-btn {
    background-color: thistle;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

.category-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 0.6rem 1.6rem;
    margin: 0.5rem 0.5rem;
    border: none;
    background-color: darkorange;
    border-radius: 2px;
    cursor: pointer;
}